.caja{
	width: 180px;
	height: 150px;
	float: left;
}

.yellow{
	background-color: yellow;
}

.blue{
	background-color: blue;
}

.red{
	background-color: red;
}

.contenedor{
	border: 1px solid black;
}